# ignore all env inside of frontend and backend
# ignore all env inside of frontend and backend
.env
.env.local
.env.development.local
.env.test.local
frontend/.env
frontend/.env.local
frontend/.env.prod
backend/.env
